.plus-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #63ace5;
    border: 1px solid #63ace5;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: white;
    font-size: 40px;
    transition: transform 100ms ease, box-shadow 200ms ease;
    transform: scale(1);

    /* animation-name: my-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

/* @keyframes my-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.plus-button:active {
    background-color: #4b86b4;
    transform: scale(0.9);
}

.plus-button:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.plus-button:focus {outline:0;}