.count-button {
    background-color: rgb(35, 73, 197);
    color: #F6d55c;
    width: 240px;
    height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px;
    transform: scale(1.0);
    transition-property: background-color, transform;
    transition-duration: 0.5s, 0.1s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

.count-button:hover {
  background-color: rgba(32, 100, 155, 0.849); /* Green */
  color: #F6d55c;
  box-shadow: 0px 0px 5px 5px rgba(246, 213, 92, 0.459);

}
.count-button:active{
  transform: scale(0.9);
}

.count-button:focus {
  outline: none;
}